body {
  margin: 0;
  padding: 0;
  display: flex;
}

.image-section {
  height: 100vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.login-section {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.4) 100%
  );
}

.side-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heading-on-image {
  width: 623px;
  top: 56px;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 96px;
  font-family: Noto Serif;
  font-weight: 500;
  line-height: 88px;
  word-wrap: break-word;
}

.sub-heading-on-image {
  width: 573px;

  bottom: 56px;
  position: absolute;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
}

.content {
  padding: 108px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.login-heading-text-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: flex;
}

.heading-login {
  text-align: center;
  color: #121212;
  font-size: 48px;
  font-family: Noto Serif;
  font-weight: 600;
  line-height: 64px;
  word-wrap: break-word;
}

.text {
  text-align: center;
  color: #3d3d3d;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
}

.input-field {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  display: flex;
}

.label {
  text-align: center;
  color: #121212;
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
  word-wrap: break-word;
}

.input {
  width: 288px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  border: 1px #ededed solid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.input-container {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  display: flex;
  position: relative;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
  position: absolute;
  right: 16px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.password-box {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  display: flex;
}

.login-gap {
  flex-direction: column;
  gap: 56px;
  display: flex;
}

.checkbox-container {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
}

.forgot-password-container {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  display: flex;
}

.remember-me-and-forgot-pass-container {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  display: flex;
}

.password-container {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  display: flex;
}

.sign-in-and-sign-up-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  display: flex;
}

.button {
  align-self: stretch;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #121212;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  cursor: pointer;
}

.button-text {
  color: white;
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
}

.spacer {
  height: 32px;
}
